* {
  transition: all 0.5s;
  margin: 0;
  padding: 0;
}

.poster {
  width: 160px;
}

.container {
  width: 200px;
  height: 300px;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px 2px rgba(222, 222, 222, 0.5);
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
}

.title {
  font-size: 17px;
  font-weight: 700;
  word-break: break-all;
}

.year,
.summary {
  display: none;
}

.container:hover {
  width: 400px;
  height: 600px;
  overflow: scroll;
}

.container:hover .poster {
  margin: 10px 0;
}

.container:hover .summary,
.container:hover .year {
  display: flex;
}

.container:hover .poster {
  width: 300px;
  margin-bottom: 10px;
}

.container:hover .title {
  font-size: 24px;
  margin-bottom: 10px;
}
